/*Font imports*/
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300&family=Staatliches&display=swap');/*Font imports end */

/*Color Section Starts*/
.light-pink {
    color: #fce4ec;
}
.regular-pink {
    color: #f06292;
}
.seafoam-green {
    color: #42ffc1;
}
.light-forest-green {
    color: #8BC34A;
}
.seafoam-blue {
    color: #73e8ff;
}
.light-blue {
    color: #B3E5FC;
}
.custom-purple {
    color: #ab47bc;
}
.lavender {
    color: #D1C4E9;
}
.reasonable-purple {
    color: #E1BEE7;
}
.custom-black {
    color: #212121;
    background-color: transparent !important;
}
.custom-white {
    color: #ffff;
}
.custom-white-2 {
    color: #F5F5F5;
}
.custom-grey {
    color: #9E9E9E;
}
.light-grey {
    color: #BDBDBD;
}

/*Color Section End*/


/*Font Overrides Start*/
h1,h2,h3,h4,h5,h6,a {
    font-family: 'Staatliches';
    margin-bottom: 0px;
    color: #161616;
}

p {
    font-family: 'Commissioner';
    color: #161616;
}

.staatliches {
    font-family: 'Staatliches';
}

.text-align {
    text-align: center;
}

.landing-header-h1 {
    font-family: 'Staatliches';
    font-size: 125px;
    color: #D1C4E9;
}

.landing-header-p {
    font-size: 35px;
    color: #fff;
    margin-top: -2.5vw;
}

/*Font Overrides End*/

/*Flex Styles Start*/

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas:
      ". . ."
      ". . .";
  }

.custom-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.custom-row-light-pink {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: #fce4ec;
}

.custom-column {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}
/*Flex Styles End*/
/*Navbar Styles*/
nav {
    background-color: #D1C4E9;
    padding-top: 0px;
}

nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.5rem;
    padding-left: 50px;
    font-family: 'Staatliches';
}

nav ul a {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1.2rem;
    /* color: #42ffc1; */
    color: white;
    display: block;
    padding: 0 15px;
    cursor: pointer;
    padding-right: 35px;
}

/*Navbar Styles End*/

/*===================*/
/*Prelogin Home Body*/
.prelogin-landing {
    width: 100%;
    height: 98.5vh;
    background-image: url('../imgs/bag_bg_1.png');
    background-size: cover;
}

.prelogin-landing-header-text {
    color: whitesmoke;
    padding-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

/*Benefits Section*/
.prelogin-landing-benefits-blocks-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}


.benefits-photo {
    width: 325px !important;
    height: 250px !important;
}

.card {
    margin-left: 0.75%;
    margin-right: 0.75%;
}

/*Benefits Section Ends */

/*Homepage Signup Section Start*/
.homepage-signup-section  {
    width: 100%;
    height: 50vw;
    background-color: #fce4ec;
}

.homepage-signup-text-section {

}

.homepage-signup-h1 {
    font-family: 'Staatliches';
    font-size: 75px;
    color: #161616;
}

.homepage-signup-p {
    margin-top: -0.25vw;
}

.heart-png {
    width: 5vw;
    height: 5vw;
    margin-top: 100px;
    margin-bottom: -15px;
}
/*Homepage Signup Section end*/

/*Users Examples Section Starts*/
.users-example-section {
    width: 100%;
    height: 35vw;
    background-color: #F5F5F5;
    margin: 2vw 0vw 2vw 0vw;
    padding: 2vw 0vw 2vw 0vw;
}

.stock-circle {
    width: 5vw;
    height: 5vw;
    margin-right: 25px;
}

.user-example-profile-text-p {
    font-size: 12px;
}

.user-example-profile-text-h6 {
    font-size: 16px;
    font-weight: bold;
}

.example-user-text-col {
    margin-left: 0.5vw;
}

.example-user-section-main-text {
    grid: unset;
    background-color: #F5F5F5;
    
}
/*Users Examples Section Ends*/

/*Prelogin Home Body end*/
/*======================*/

/*Footer start*/
.page-footer {
    padding-top: 20px;
    color: rgb(165, 165, 165);
    background-color: #E1BEE7;
}
.page-footer .white-text {
    font-family: 'Staatliches';
    font-size: 2.5rem;
}
/*Footer Ends*/