/*Font imports*/
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Maven+Pro&family=Syne+Mono&display=swap');
/*Maven Pro is for sentances
  Syne Mono is header
  Concert One are links*/

/*Color Palletes Starts*/
.light-pink {
    color: #fce4ec;
}
.regular-pink {
    color: #ff4081;
}
.material-amber {
    color: #ffa000;
}
.creamy-orange {
    color: #ffccbc;
}
.seafoam-green {
    color: #42ffc1;
}
.light-forest-green {
    color: #8BC34A;
}
.bright-cyan {
    color: #88ffff;
}
.seafoam-blue {
    color: #73e8ff;
}
.light-blue {
    color: #b3e5fc;
}
.custom-purple {
    color: #ab47bc;
}
.lavender {
    color: #D1C4E9;
}
.darker-lavender {
    color: #ac9dc8;
}
.light-indigo {
    color: #e8eaf6;
}
.reasonable-purple {
    color: #E1BEE7;
}
.custom-black {
    color: #212121;
}
.custom-white {
    color: #ffff;
}
.custom-white-2 {
    color: #F5F5F5;
}
.custom-grey {
    color: #9E9E9E;
}
.light-grey {
    color: #BDBDBD;
}
.gucci-grey {
    color: #f3f3f3;
}
.gucci-grey-bg {
    background-color: #f3f3f3;
}
.background-black {
    background-color: #212121;
}
/*Color Palletes End*/

/*Animated text color start*/
#shadowBox {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.2);
    /* Black w/opacity/see-through */
    border: 3px solid;
}

.rainbow_text_animated {
    background: linear-gradient(to right, #ab47bc, #42ffc1, #73e8ff , #42ffc1, #fce4ec, #ff4081, #ffa000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}
.rainbow_text_animated_two {
    background: linear-gradient(to right, #ffa000,  #ff4081, #fce4ec , #73e8ff, #42ffc1 , #42ffc1,  #ab47bc);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}
.rainbow-link {
    background: linear-gradient(to right, #9afff7,  #69fdf1, #45cbec , #3ab6fd, #7ef0ff , #42ffc1,  #34a3e4);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 10s ease-in-out infinite;
    background-size: 200% 50%;
}
@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}
/*Animated text color ends*/


/*Font Overrides Start*/
h1,h2,h3,h4,h5,h6 {
    /* font-family: 'Staatliches'; */
    font-family: 'Syne Mono';
    font-weight: bold;
    margin-bottom: 0px;
    color: #161616;
}

a {
    font-family: 'Syne Mono';
    font-size: 18px;
    font-weight: bolder;
}

p {
    font-family: 'Maven Pro';
    color: #161616;
}

.text-align {
    text-align: center;
}

.landing-header-h1 {
    font-weight: bold;
    font-size: 125px;
}

.landing-header-p {
    font-size: 30px;
    color: #fff;
    margin-top: -2.5vw;
}

.btn {
background-color: #ffa000 !important;
} 
/*Font Overrides End*/

/*Flex Styles Start*/

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas:
      ". . ."
      ". . .";
  }

.custom-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.custom-row-light-pink {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: #fce4ec;
}

.custom-column {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.regular-hero {
    width: 100%;
    height: 65vh;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.large-hero {
    width: 100%;
    height: 100vh;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

/*Flex Styles End*/
/*Navbar Styles*/
nav {
    /* background-color: #D1C4E9; */
    background-color: transparent;
    padding-top: 0px;
    transition: all 2.5s;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:2;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

nav .brand-logo {
    position: absolute;
    color: #D1C4E9;
    display: inline-block;
    font-size: 2.5rem;
    padding-left: 20px !important;
    font-family: 'Syne Mono';
    font-weight: bold;
    transition: color 1s;

}

nav ul a {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1.2rem;
    /* color: #42ffc1; */
    color: white;
    display: block;
    padding: 0 15px;
    cursor: pointer;
    padding-right: 35px;
}

.widget-section {
    width: 100%;
    height: 50px;
    background-color: transparent;
    top: 45px;
    position: fixed;
    transition: all 0.15s;
}

.widget-item {
    margin-left: 1rem;
    margin-right: 1rem;
    text-decoration: none;
    color: transparent;
}

/*Navbar Styles End*/

/*===================*/
/*Prelogin Home Body*/
.prelogin-landing {
    width: 100%;
    height: 98.5vh;
    background-image: url('../imgs/bag_bg_3.png');
    background-size: cover;
}

.prelogin-landing-header-text {
    color: whitesmoke;
    padding-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

/*Teaser Products Section Starts*/

.teaser-products-section {
    margin-top: 5%;
    margin-bottom: 5%;
}

.teaser-product-card {
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 375px;
    height: 400px;
    border: solid 0.25px #212121;
}

.teaser-product-card-img {
    width: 355px;
    height: 325px;
}

.t-card-one {

}

.t-card-two {

}

.t-card-three {

}

/*Teaser Products Section Ends */
.product-landing-section {
    width: 100%;
    height: 100vh;
    background-image: url('../imgs/bag_bg_1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.product-landing-subheader {
    font-size: 60px;
}

/*Location Teaser Section Starts*/
.location-teaser-section {
    background-image: url('../imgs/storefront-vhs-2.png');
    width: 100%;
    height: 75vh;
    background-position: center;
    background-size: contain;
}

.location-teaser-header {
font-size: 36px;
background-color: #212121;
color: #ffffff;
margin-bottom: 0;
padding-bottom: 0;
margin-top: 0;
}

.location-teaser-subheader {
    font-family: 'Vampiro One';
    margin-top: 0;
    padding-top: 0;
    font-size: 7.5vw;
    margin-bottom: 0;
    padding-bottom: 0;
}

.location-teaser-subheader-two {
    font-size: 24px;
    background-color: #ff4081;
    color: #212121;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
}
/*Location Teaser Section Ends*/
/*Prelogin Home Body end*/
/*======================*/

/*Footer start*/
.page-footer {
    padding-top: 20px;
    color: rgb(165, 165, 165);
    background-color: #D1C4E9 !important;
}
.page-footer .white-text {
    font-family: 'Commissioner';
    font-weight: bold;
    font-size: 2.5rem;
}
/*Footer Ends*/


/*Credit Card Info*/

.signupForm {
    max-width: 55%;
}

.creditCardForm {
    max-width: 55%;
}