
.product-display-section {
    background-color: #ffa000;
    width: 100%;
    height: 75vh;
}

.product-cont-1 {

}

.product-cont-2 {

}

.product-img {
    width: 45vw;
    height: 30vw;
}

.product-desc-section {
    width: 300px;
}

.product-desc-subtext {
    text-align: center;
}