
.product-display-section {
    background-color: #ffa000;
    width: 100%;
    height: 75vh;
}

.product-cont-1 {

}

.product-cont-2 {

}

.product-img {
    width: 300px;
    height: 175px;
}

.product-desc-section {
    width: 300px;
}

.product-desc-section-product-title {
    font-size: 42px;
}

.product-desc-subtext-p {
    font-size: 16px;
    text-align: left;
}
.product-desc-subtext {
    text-align: center;
}

/* product display */
.more-products-section {
    background-image: url('../imgs/GI0V3q.png');
    background-size: 500%;
    height: 100vh;
    width: 100%;
}
.more-pictures-window {
    height: 50vh;
    min-width: 90%;
}

.product-display-grid-row {
    /*margin-top: 10%;*/
}

.product-display-grid-item {
    width: 25vw;
    height: 25vw;
    margin-right: 2.5vw;
    margin-left: 2.5vw;
    border: dashed black 2px;
}

.product-display-grid-item-picture {
    width: 25vw;
    height: 25vw;
}

.product-display-grid-item-description-section {
    text-align: center;
    width: 100%;
}

.product-display-grid-item-description-text {
    font-size: 16px;
}

#input-field-product-purchase {
    max-width: 25vw;
}
